.settings {
    flow-children:down;
    width:1180px;
    
    &__body {
        width:100%;
        flow-children:down;
        background-color: #16161690;
    }
    
    &__inner-body {
        flow-children:right;
        height:480px;
    }
    
    &__categories-container {
        width:380px;
        height:480px;
        flow-children:down;
        background-color: #16161690;
    }
    
    &__category {
		background-color: transparent;
		height:72px;
		width:100%;
		flow-children:right;
		> Label {
			color: white;
			text-shadow:none;
			vertical-align: middle;
			font-size:25px;
			font-weight:bold;
            margin-left:25px;
            transform: translateX(0px);
			transition: transform 0.15s ease-in-out 0.0s, color 0.15s ease-in-out 0.0s;
		}
        &--selected {
			background-color:white;
			> Label {
				color:#222;
				transform:translateX(12px);
			}
		}
	}
    
    &__contents-container {
        width:100%;
		height:100%;
    }
    
    &__scroll-container {
        width:800px;
        height:100%;
    }
    
    &__contents {
        flow-children:down;
        width:100%;
        height:100%;
        overflow: clip scroll;
        
        &--hidden {
            visibility: collapse;
        }
        padding-bottom:45px;
    }
    
    &__horizontal-line {
        height:1px;
        width:fill-parent-flow(1);
        margin:25px;
        margin-bottom:0;
        background-color: #fff9;
    }
    
    &__section-header {
        margin:25px 0px 12px 25px;
		width:100%;
        color: white;
        text-shadow:none;
        vertical-align:middle;
        font-size:28px;
        font-weight:bold;
        //text-decoration:underline;
    }
    &__section-header2 {
        margin:20px 0px 12px 25px;
		width:100%;
        color: white;
        text-shadow:none;
        font-size:25px;
        font-weight:bold;
    }
}

.settings-slider {
    border-width:0px;
    padding:0px 25px;
    margin:0px;
    height:54px;
    width:100%;
    flow-children:right;
    
    &__title-container {
        vertical-align: center;
    }
    &__title {
        color: white;
        text-shadow:none;
        font-size:25px;
        width:280px;
    }
    &__input-container {
        flow-children:right;
        vertical-align:center;
    }
    &__slider {
        margin:0px 15px;
    }
    &__textentry {
        background-color: #111a;
        width:80px;
        box-shadow:none;
        border-radius:5px;
        &:hover {
            background-color:#9999;
        }
    }
}

.settings-enum-dropdown {
    border-width:0px;
    padding:0px 25px;
    margin:0px;
    height:54px;
    width:100%;
    flow-children:right;
    &__title-container {
        vertical-align:center;
    }
    &__title {
        color: white;
        text-shadow:none;
        font-size:25px;
    }
    &__input-container {
        vertical-align:center;
        horizontal-align:right;
    }
    &__dropdown {
        background-color:#111a;
        box-shadow:none;
        > Label {
            text-shadow: none;
        }
        &:hover {
            background-color:#9999;
        }
        border-radius:5px;
    }
}

.settings-keybinder {
    border-width:0px;
    padding:0px 25px;
    margin:0px;
    height:54px;
    width:100%;
    flow-children:right;
    &__title-container {
        vertical-align:center;
    }
    &__title {
        color: white;
        text-shadow:none;
        font-size:25px;
    }
    &__container {
        vertical-align:center;
        horizontal-align:right;
        background-color: #111a;
        padding:5px 12px;
        min-width:50px;
        border-radius:5px;
        &:hover {
            background-color:#9999;
        }
    }
    &__key {
        horizontal-align:center;
        font-size:25px;
        font-weight:bold;
    }
    &__clear {
        visibility:visible;
    }
}