<root>
	<styles>
		<include src="file://{resources}/styles/main.scss" />
	</styles>
	<scripts>
		<include src="file://{scripts}/pages/main-menu/main-menu.ts" />
	</scripts>
	<Panel>
		<Panel class="mainmenu__navlist" hittest="true">
			<Panel class="mainmenu__navitem-title">
				<Label text="Settings"/>
			</Panel>
			
			<Button class="mainmenu__navitem white-hover-button" onactivate="MainMenu.onBackButtonPressed();">
				<Image src="file://{images}/reset.svg" texturewidth="35" textureheight="35"/>
				<Label text="Back"/>
			</Button>
			
		</Panel>
	</Panel>
</root>
